/* Link to the Google webfont is in the head */
.ui-gridview .ui-title, .ui-gridview .ui-li-aside {
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
}
.ui-gridview .ui-header {
	color: #990099;
}
.ui-gridview .ui-footer {
	color: #666;
}
.ui-gridview p {
	color: #c0c0c0;
}
.ui-gridview .ui-li-aside {
	color: #990099;
}
.ui-gridview .ui-listview li {
	background-image: none;
	border-color: #222;
}

/* First breakpoint is 768px. 3 column layout. Tiles 250x250 pixels at the breakpoint. */
@media all and (min-width: 768px){
	.ui-gridview .ui-listview>li {
		float: left;
		width: 25%; /* 33.3333% incl. 2 x 1.2% margin */
		height: 230px;
		margin: 10px 1%;
		border-width: 0; /* The 1px border would break the layout so we set it on .ui-btn-inner instead. */
	}
	/* If you don't want a border at all, just set "border: none;" here to negate the semi white top border */
	.ui-gridview .ui-listview>li {
		border: inherit;
		border-width: 1px;
	}
	.ui-gridview .ui-listview a,
	.ui-gridview .ui-listview .ui-btn>img {
		width: 100%;
		height: 100%;
		display: block;
		overflow: hidden;
	}
	.ui-gridview .ui-listview a {
		padding: 0 !important;
		position: relative;
	}
	/* Inherit the border-radius from the UL that has class .ui-corner-all in case of an inset listview. */
	.ui-gridview .ui-listview .ui-li,
	.ui-gridview .ui-listview li,
	.ui-gridview .ui-listview a,
	.ui-gridview .ui-listview .ui-btn>img {
		-webkit-border-radius: inherit;
		border-radius: inherit;
	}
	.ui-gridview .ui-listview .ui-btn>img {
    position: static !important;
		height: auto !important; /* To keep aspect ratio. */
		max-width: 100% !important;
		max-height: none !important;
		margin: 0 !important;
		left: 0 !important;
		z-index: -1;
	}
	/* Hide the icon */
	.ui-gridview .ui-listview .ui-icon {
		display: none;
	}
	/* Make text wrap. */
	.ui-gridview .ui-listview h2,
	.ui-gridview .ui-listview p {
		white-space: normal;
		overflow: visible;
		position: absolute;
		left: 0;
		right: 0;
	}
	/* Text position */
	.ui-gridview .ui-listview h2 {
		margin: 0;
		padding: 20px;
		bottom: 50%;
	}
	.ui-gridview .ui-listview p {
		margin: 0;
		padding: 0 20px;
		min-height: 50%;
		bottom: 0;
		line-height: 1.5;
	}
	/* Semi transparent background and different position if there is a thumb */
	.ui-listview .ui-li-has-thumb h2,
	.ui-listview .ui-li-has-thumb p {
		background: rgba(200,200,200,.8);
		-webkit-background-clip: padding;
		background-clip: padding-box;
	}
	.ui-listview .ui-li-has-thumb h2 {
		padding: 10px;
		bottom: 0%;
	}
	.ui-listview .ui-li-has-thumb p {
		padding: 0 10px;
		min-height: 20%;
		-webkit-border-bottom-left-radius: inherit;
		border-bottom-left-radius: inherit;
		-webkit-border-bottom-right-radius: inherit;
		border-bottom-right-radius: inherit;
	}
	/* ui-li-aside has class .ui-li-desc as well so we have to override some things. */
	.ui-gridview .ui-listview p.ui-li-aside {
		padding: 2px 10px;
		width: auto;
		min-height: 0;
		top: 0;
		left: auto;
		bottom: auto;
		/* Custom styling. */
		color: #c0c0c0;
		background: #990099;
		background: rgba(153,0,153,.85);
		-webkit-border-top-right-radius: inherit;
		border-top-right-radius: inherit;
		-webkit-border-bottom-left-radius: inherit;
		border-bottom-left-radius: inherit;
		-webkit-border-bottom-right-radius: 0;
		border-bottom-right-radius: 0;
	}
	/* If you want to add shadow, don't kill the focus style. */ 
	.ui-gridview .ui-listview li:not(.ui-focus) {
		-moz-box-shadow: 0px 0px 9px #111;
		-webkit-box-shadow: 0px 0px 9px #111;
		box-shadow: 0px 0px 9px #111;
	}
	/* Images mask the hover bg color so we give desktop users feedback by applying the focus style on hover as well. */
	.ui-gridview .ui-listview li:hover {
		-moz-box-shadow: 0px 0px 12px #387bbe;
		-webkit-box-shadow: 0px 0px 12px #387bbe;
		box-shadow: 0px 0px 12px #387bbe;
	}
	/* Animate focus and hover style, and resizing. */ 
	.ui-gridview .ui-listview li {
		-webkit-transition: all 500ms ease;
		-moz-transition: all 500ms ease;
		-o-transition: all 500ms ease;
		-ms-transition: all 500ms ease;
		transition: all 500ms ease;	
	}
}
/* Second breakpoint. 4 column layout. Tiles will be 250x250 pixels again at the breakpoint. */
@media all and (min-width: 1020px){
	.ui-gridview {
		padding: 10px;
	}
	/* Set a max-width for the last breakpoint to prevent too much stretching on large screens.
	By setting the max-width equal to the breakpoint width minus padding we keep square tiles. */
	.ui-gridview .ui-listview {
		max-width: 1000px;
		margin: 0 auto;
	}
	/* Because of the 1000px max-width the width will always be 230px (and margin left/right 10px),
	but we stick to percentage values for demo purposes. */
	.ui-gridview .ui-listview li {
		width: 15%;
		height: 130px;
		margin: 10px 1%;
	}
}

/* For this demo we used images with a size of 310x310 pixels. Just before the second breakpoint the images reach their max width: 1019px - 2 x 9px padding = 1001px x 30.9333% = ~310px */
